.track{
  padding: 20px;
  color: #fcf8e8;
}

.track-heading{
  color: black;
}

.track-hr-mid{
  border-width: 1px 0;
  border-style: solid;
  border-color: black;
}

.track-vr-mid{
  border-width: 0 1px;
  border-style: solid;
  border-color: black;
}

.track-mid{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}


/****FAQ****/
.faq{
  text-align: left;
  padding-bottom: 0;
}

.faq h2{
  color: #fcf8e8;
}


/****Footer****/
.footer-info{
  color: #fcf8e8;
}

.footer-info a{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: black;
  text-decoration: underline;
}

.footer-contact{
  color: #fcf8e8;
  text-align: right;
}
